.logonav {
    max-width: 200px;
    height: auto
}

.nav .dropdown a:hover {
    background: #20b2aa;
    color: #fff
}

#remember {
    position: inherit !important;
    margin-left: 0 !important
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff
}

.ln-shadow, .shape-0 {
    text-shadow: 1px 1px #149078, 2px 2px #149078, 3px 3px #149078, 4px 4px #149078, 5px 5px #149078, 6px 6px #149078, 7px 7px #149078, 8px 8px #149078, 9px 9px #149078, 10px 10px #149078, 11px 11px #149078, 12px 12px #149078, 13px 13px #149179, 14px 14px #14927a, 15px 15px #14937b, 16px 16px #14947b, 17px 17px #14957c, 18px 18px #14967d, 19px 19px #14977e, 20px 20px #15987e, 21px 21px #15997f, 22px 22px #159a80, 23px 23px #159b81, 24px 24px #159c81, 25px 25px #159d82, 26px 26px #159e83, 27px 27px #159f84, 28px 28px #16a085;
    -moz-text-shadow: 1px 1px #149078, 2px 2px #149078, 3px 3px #149078, 4px 4px #149078, 5px 5px #149078, 6px 6px #149078, 7px 7px #149078, 8px 8px #149078, 9px 9px #149078, 10px 10px #149078, 11px 11px #149078, 12px 12px #149078, 13px 13px #149179, 14px 14px #14927a, 15px 15px #14937b, 16px 16px #14947b, 17px 17px #14957c, 18px 18px #14967d, 19px 19px #14977e, 20px 20px #15987e, 21px 21px #15997f, 22px 22px #159a80, 23px 23px #159b81, 24px 24px #159c81, 25px 25px #159d82, 26px 26px #159e83, 27px 27px #159f84, 28px 28px #16a085;
    -webkit-text-shadow: 1px 1px #149078, 2px 2px #149078, 3px 3px #149078, 4px 4px #149078, 5px 5px #149078, 6px 6px #149078, 7px 7px #149078, 8px 8px #149078, 9px 9px #149078, 10px 10px #149078, 11px 11px #149078, 12px 12px #149078, 13px 13px #149179, 14px 14px #14927a, 15px 15px #14937b, 16px 16px #14947b, 17px 17px #14957c, 18px 18px #14967d, 19px 19px #14977e, 20px 20px #15987e, 21px 21px #15997f, 22px 22px #159a80, 23px 23px #159b81, 24px 24px #159c81, 25px 25px #159d82, 26px 26px #159e83, 27px 27px #159f84, 28px 28px #16a085;
    background-color: #16a085
}

.ln-shadow, .ln-shadow-logo, .shape {
    color: #fff;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle
}

.shape {
    border-radius: 3px;
    font-size: 28px;
    height: 42px;
    line-height: 40px;
    width: 42px
}

.ln-shadow-logo {
    border-radius: 50%;
    font-size: 100%;
    height: 52px;
    line-height: 50px;
    width: 52px;
    margin-top: -8px
}

.ln-shadow {
    border-radius: 3px;
    font-size: 28px;
    height: 42px;
    line-height: 40px;
    width: 42px
}

.shape-1 {
    text-shadow: 1px 1px #3e9e66, 2px 2px #3e9f66, 3px 3px #3e9f67, 4px 4px #3ea067, 5px 5px #3fa067, 6px 6px #3fa168, 7px 7px #3fa268, 8px 8px #3fa268, 9px 9px #40a369, 10px 10px #40a369, 11px 11px #40a469, 12px 12px #40a46a, 13px 13px #40a56a, 14px 14px #41a66b, 15px 15px #41a66b, 16px 16px #41a76b, 17px 17px #41a76c, 18px 18px #42a86c, 19px 19px #42a86c, 20px 20px #42a96d, 21px 21px #42aa6d, 22px 22px #43aa6d, 23px 23px #43ab6e, 24px 24px #43ab6e, 25px 25px #43ac6e, 26px 26px #43ac6f, 27px 27px #44ad6f, 28px 28px #44ae70, 29px 29px #44ae70, 30px 30px #44af70, 31px 31px #45af71, 32px 32px #45b071, 33px 33px #45b071, 34px 34px #45b172, 35px 35px #46b272, 36px 36px #46b272, 37px 37px #46b373, 38px 38px #46b373, 39px 39px #46b473, 40px 40px #47b474, 41px 41px #47b574, 42px 42px #47b675, 43px 43px #47b675, 44px 44px #48b775, 45px 45px #48b776, 46px 46px #48b876, 47px 47px #48b876, 48px 48px #48b977, 49px 49px #49ba77, 50px 50px #49ba77, 51px 51px #49bb78, 52px 52px #49bb78, 53px 53px #4abc78, 54px 54px #4abc79, 55px 55px #4abd79, 56px 56px #4abe7a, 57px 57px #4bbe7a, 58px 58px #4bbf7a, 59px 59px #4bbf7b, 60px 60px #4bc07b, 61px 61px #4bc07b, 62px 62px #4cc17c, 63px 63px #4cc27c, 64px 64px #4cc27c, 65px 65px #4cc37d, 66px 66px #4dc37d, 67px 67px #4dc47d, 68px 68px #4dc47e, 69px 69px #4dc57e, 70px 70px #4ec67f;
    -webkit-text-shadow: 1px 1px #3e9e66, 2px 2px #3e9f66, 3px 3px #3e9f67, 4px 4px #3ea067, 5px 5px #3fa067, 6px 6px #3fa168, 7px 7px #3fa268, 8px 8px #3fa268, 9px 9px #40a369, 10px 10px #40a369, 11px 11px #40a469, 12px 12px #40a46a, 13px 13px #40a56a, 14px 14px #41a66b, 15px 15px #41a66b, 16px 16px #41a76b, 17px 17px #41a76c, 18px 18px #42a86c, 19px 19px #42a86c, 20px 20px #42a96d, 21px 21px #42aa6d, 22px 22px #43aa6d, 23px 23px #43ab6e, 24px 24px #43ab6e, 25px 25px #43ac6e, 26px 26px #43ac6f, 27px 27px #44ad6f, 28px 28px #44ae70, 29px 29px #44ae70, 30px 30px #44af70, 31px 31px #45af71, 32px 32px #45b071, 33px 33px #45b071, 34px 34px #45b172, 35px 35px #46b272, 36px 36px #46b272, 37px 37px #46b373, 38px 38px #46b373, 39px 39px #46b473, 40px 40px #47b474, 41px 41px #47b574, 42px 42px #47b675, 43px 43px #47b675, 44px 44px #48b775, 45px 45px #48b776, 46px 46px #48b876, 47px 47px #48b876, 48px 48px #48b977, 49px 49px #49ba77, 50px 50px #49ba77, 51px 51px #49bb78, 52px 52px #49bb78, 53px 53px #4abc78, 54px 54px #4abc79, 55px 55px #4abd79, 56px 56px #4abe7a, 57px 57px #4bbe7a, 58px 58px #4bbf7a, 59px 59px #4bbf7b, 60px 60px #4bc07b, 61px 61px #4bc07b, 62px 62px #4cc17c, 63px 63px #4cc27c, 64px 64px #4cc27c, 65px 65px #4cc37d, 66px 66px #4dc37d, 67px 67px #4dc47d, 68px 68px #4dc47e, 69px 69px #4dc57e, 70px 70px #4ec67f;
    -moz-text-shadow: 1px 1px #3e9e66, 2px 2px #3e9f66, 3px 3px #3e9f67, 4px 4px #3ea067, 5px 5px #3fa067, 6px 6px #3fa168, 7px 7px #3fa268, 8px 8px #3fa268, 9px 9px #40a369, 10px 10px #40a369, 11px 11px #40a469, 12px 12px #40a46a, 13px 13px #40a56a, 14px 14px #41a66b, 15px 15px #41a66b, 16px 16px #41a76b, 17px 17px #41a76c, 18px 18px #42a86c, 19px 19px #42a86c, 20px 20px #42a96d, 21px 21px #42aa6d, 22px 22px #43aa6d, 23px 23px #43ab6e, 24px 24px #43ab6e, 25px 25px #43ac6e, 26px 26px #43ac6f, 27px 27px #44ad6f, 28px 28px #44ae70, 29px 29px #44ae70, 30px 30px #44af70, 31px 31px #45af71, 32px 32px #45b071, 33px 33px #45b071, 34px 34px #45b172, 35px 35px #46b272, 36px 36px #46b272, 37px 37px #46b373, 38px 38px #46b373, 39px 39px #46b473, 40px 40px #47b474, 41px 41px #47b574, 42px 42px #47b675, 43px 43px #47b675, 44px 44px #48b775, 45px 45px #48b776, 46px 46px #48b876, 47px 47px #48b876, 48px 48px #48b977, 49px 49px #49ba77, 50px 50px #49ba77, 51px 51px #49bb78, 52px 52px #49bb78, 53px 53px #4abc78, 54px 54px #4abc79, 55px 55px #4abd79, 56px 56px #4abe7a, 57px 57px #4bbe7a, 58px 58px #4bbf7a, 59px 59px #4bbf7b, 60px 60px #4bc07b, 61px 61px #4bc07b, 62px 62px #4cc17c, 63px 63px #4cc27c, 64px 64px #4cc27c, 65px 65px #4cc37d, 66px 66px #4dc37d, 67px 67px #4dc47d, 68px 68px #4dc47e, 69px 69px #4dc57e, 70px 70px #4ec67f;
    background-color: #4ec67f
}

.shape-2 {
    text-shadow: 1px 1px #2fa277, 2px 2px #2fa377, 3px 3px #2fa378, 4px 4px #2fa478, 5px 5px #2fa479, 6px 6px #30a579, 7px 7px #30a67a, 8px 8px #30a67a, 9px 9px #30a77a, 10px 10px #30a77b, 11px 11px #30a87b, 12px 12px #31a87c, 13px 13px #31a97c, 14px 14px #31aa7d, 15px 15px #31aa7d, 16px 16px #31ab7d, 17px 17px #31ab7e, 18px 18px #32ac7e, 19px 19px #32ac7f, 20px 20px #32ad7f, 21px 21px #32ae80, 22px 22px #32ae80, 23px 23px #32af80, 24px 24px #33af81, 25px 25px #33b081, 26px 26px #33b082, 27px 27px #33b182, 28px 28px #33b283, 29px 29px #33b283, 30px 30px #34b383, 31px 31px #34b384, 32px 32px #34b484, 33px 33px #34b485, 34px 34px #34b585, 35px 35px #35b686, 36px 36px #35b686, 37px 37px #35b786, 38px 38px #35b787, 39px 39px #35b887, 40px 40px #35b888, 41px 41px #36b988, 42px 42px #36ba89, 43px 43px #36ba89, 44px 44px #36bb89, 45px 45px #36bb8a, 46px 46px #36bc8a, 47px 47px #37bc8b, 48px 48px #37bd8b, 49px 49px #37be8c, 50px 50px #37be8c, 51px 51px #37bf8c, 52px 52px #37bf8d, 53px 53px #38c08d, 54px 54px #38c08e, 55px 55px #38c18e, 56px 56px #38c28f, 57px 57px #38c28f, 58px 58px #38c38f, 59px 59px #39c390, 60px 60px #39c490, 61px 61px #39c491, 62px 62px #39c591, 63px 63px #39c692, 64px 64px #39c692, 65px 65px #3ac792, 66px 66px #3ac793, 67px 67px #3ac893, 68px 68px #3ac894, 69px 69px #3ac994, 70px 70px #3bca95;
    -moz-text-shadow: 1px 1px #2fa277, 2px 2px #2fa377, 3px 3px #2fa378, 4px 4px #2fa478, 5px 5px #2fa479, 6px 6px #30a579, 7px 7px #30a67a, 8px 8px #30a67a, 9px 9px #30a77a, 10px 10px #30a77b, 11px 11px #30a87b, 12px 12px #31a87c, 13px 13px #31a97c, 14px 14px #31aa7d, 15px 15px #31aa7d, 16px 16px #31ab7d, 17px 17px #31ab7e, 18px 18px #32ac7e, 19px 19px #32ac7f, 20px 20px #32ad7f, 21px 21px #32ae80, 22px 22px #32ae80, 23px 23px #32af80, 24px 24px #33af81, 25px 25px #33b081, 26px 26px #33b082, 27px 27px #33b182, 28px 28px #33b283, 29px 29px #33b283, 30px 30px #34b383, 31px 31px #34b384, 32px 32px #34b484, 33px 33px #34b485, 34px 34px #34b585, 35px 35px #35b686, 36px 36px #35b686, 37px 37px #35b786, 38px 38px #35b787, 39px 39px #35b887, 40px 40px #35b888, 41px 41px #36b988, 42px 42px #36ba89, 43px 43px #36ba89, 44px 44px #36bb89, 45px 45px #36bb8a, 46px 46px #36bc8a, 47px 47px #37bc8b, 48px 48px #37bd8b, 49px 49px #37be8c, 50px 50px #37be8c, 51px 51px #37bf8c, 52px 52px #37bf8d, 53px 53px #38c08d, 54px 54px #38c08e, 55px 55px #38c18e, 56px 56px #38c28f, 57px 57px #38c28f, 58px 58px #38c38f, 59px 59px #39c390, 60px 60px #39c490, 61px 61px #39c491, 62px 62px #39c591, 63px 63px #39c692, 64px 64px #39c692, 65px 65px #3ac792, 66px 66px #3ac793, 67px 67px #3ac893, 68px 68px #3ac894, 69px 69px #3ac994, 70px 70px #3bca95;
    -webkit-text-shadow: 1px 1px #2fa277, 2px 2px #2fa377, 3px 3px #2fa378, 4px 4px #2fa478, 5px 5px #2fa479, 6px 6px #30a579, 7px 7px #30a67a, 8px 8px #30a67a, 9px 9px #30a77a, 10px 10px #30a77b, 11px 11px #30a87b, 12px 12px #31a87c, 13px 13px #31a97c, 14px 14px #31aa7d, 15px 15px #31aa7d, 16px 16px #31ab7d, 17px 17px #31ab7e, 18px 18px #32ac7e, 19px 19px #32ac7f, 20px 20px #32ad7f, 21px 21px #32ae80, 22px 22px #32ae80, 23px 23px #32af80, 24px 24px #33af81, 25px 25px #33b081, 26px 26px #33b082, 27px 27px #33b182, 28px 28px #33b283, 29px 29px #33b283, 30px 30px #34b383, 31px 31px #34b384, 32px 32px #34b484, 33px 33px #34b485, 34px 34px #34b585, 35px 35px #35b686, 36px 36px #35b686, 37px 37px #35b786, 38px 38px #35b787, 39px 39px #35b887, 40px 40px #35b888, 41px 41px #36b988, 42px 42px #36ba89, 43px 43px #36ba89, 44px 44px #36bb89, 45px 45px #36bb8a, 46px 46px #36bc8a, 47px 47px #37bc8b, 48px 48px #37bd8b, 49px 49px #37be8c, 50px 50px #37be8c, 51px 51px #37bf8c, 52px 52px #37bf8d, 53px 53px #38c08d, 54px 54px #38c08e, 55px 55px #38c18e, 56px 56px #38c28f, 57px 57px #38c28f, 58px 58px #38c38f, 59px 59px #39c390, 60px 60px #39c490, 61px 61px #39c491, 62px 62px #39c591, 63px 63px #39c692, 64px 64px #39c692, 65px 65px #3ac792, 66px 66px #3ac793, 67px 67px #3ac893, 68px 68px #3ac894, 69px 69px #3ac994, 70px 70px #3bca95;
    background-color: #3bca95
}

.shape-3 {
    text-shadow: 1px 1px #15967d, 2px 2px #15977d, 3px 3px #15977e, 4px 4px #15987e, 5px 5px #15987f, 6px 6px #15997f, 7px 7px #159980, 8px 8px #159a80, 9px 9px #159a80, 10px 10px #159b81, 11px 11px #159b81, 12px 12px #159c82, 13px 13px #159d82, 14px 14px #169d83, 15px 15px #169e83, 16px 16px #169e84, 17px 17px #169f84, 18px 18px #169f84, 19px 19px #16a085, 20px 20px #16a085, 21px 21px #16a186, 22px 22px #16a186, 23px 23px #16a287, 24px 24px #16a387, 25px 25px #16a388, 26px 26px #16a488, 27px 27px #16a488, 28px 28px #17a589, 29px 29px #17a589, 30px 30px #17a68a, 31px 31px #17a68a, 32px 32px #17a78b, 33px 33px #17a78b, 34px 34px #17a88c, 35px 35px #17a98c, 36px 36px #17a98c, 37px 37px #17aa8d, 38px 38px #17aa8d, 39px 39px #17ab8e, 40px 40px #17ab8e, 41px 41px #17ac8f, 42px 42px #18ac8f, 43px 43px #18ad90, 44px 44px #18ad90, 45px 45px #18ae90, 46px 46px #18ae91, 47px 47px #18af91, 48px 48px #18b092, 49px 49px #18b092, 50px 50px #18b193, 51px 51px #18b193, 52px 52px #18b294, 53px 53px #18b294, 54px 54px #18b394, 55px 55px #18b395, 56px 56px #19b495, 57px 57px #19b496, 58px 58px #19b596, 59px 59px #19b697, 60px 60px #19b697, 61px 61px #19b798, 62px 62px #19b798, 63px 63px #19b898, 64px 64px #19b899, 65px 65px #19b999, 66px 66px #19b99a, 67px 67px #19ba9a, 68px 68px #19ba9b, 69px 69px #19bb9b, 70px 70px #1abc9c;
    -moz-text-shadow: 1px 1px #15967d, 2px 2px #15977d, 3px 3px #15977e, 4px 4px #15987e, 5px 5px #15987f, 6px 6px #15997f, 7px 7px #159980, 8px 8px #159a80, 9px 9px #159a80, 10px 10px #159b81, 11px 11px #159b81, 12px 12px #159c82, 13px 13px #159d82, 14px 14px #169d83, 15px 15px #169e83, 16px 16px #169e84, 17px 17px #169f84, 18px 18px #169f84, 19px 19px #16a085, 20px 20px #16a085, 21px 21px #16a186, 22px 22px #16a186, 23px 23px #16a287, 24px 24px #16a387, 25px 25px #16a388, 26px 26px #16a488, 27px 27px #16a488, 28px 28px #17a589, 29px 29px #17a589, 30px 30px #17a68a, 31px 31px #17a68a, 32px 32px #17a78b, 33px 33px #17a78b, 34px 34px #17a88c, 35px 35px #17a98c, 36px 36px #17a98c, 37px 37px #17aa8d, 38px 38px #17aa8d, 39px 39px #17ab8e, 40px 40px #17ab8e, 41px 41px #17ac8f, 42px 42px #18ac8f, 43px 43px #18ad90, 44px 44px #18ad90, 45px 45px #18ae90, 46px 46px #18ae91, 47px 47px #18af91, 48px 48px #18b092, 49px 49px #18b092, 50px 50px #18b193, 51px 51px #18b193, 52px 52px #18b294, 53px 53px #18b294, 54px 54px #18b394, 55px 55px #18b395, 56px 56px #19b495, 57px 57px #19b496, 58px 58px #19b596, 59px 59px #19b697, 60px 60px #19b697, 61px 61px #19b798, 62px 62px #19b798, 63px 63px #19b898, 64px 64px #19b899, 65px 65px #19b999, 66px 66px #19b99a, 67px 67px #19ba9a, 68px 68px #19ba9b, 69px 69px #19bb9b, 70px 70px #1abc9c;
    -webkit-text-shadow: 1px 1px #15967d, 2px 2px #15977d, 3px 3px #15977e, 4px 4px #15987e, 5px 5px #15987f, 6px 6px #15997f, 7px 7px #159980, 8px 8px #159a80, 9px 9px #159a80, 10px 10px #159b81, 11px 11px #159b81, 12px 12px #159c82, 13px 13px #159d82, 14px 14px #169d83, 15px 15px #169e83, 16px 16px #169e84, 17px 17px #169f84, 18px 18px #169f84, 19px 19px #16a085, 20px 20px #16a085, 21px 21px #16a186, 22px 22px #16a186, 23px 23px #16a287, 24px 24px #16a387, 25px 25px #16a388, 26px 26px #16a488, 27px 27px #16a488, 28px 28px #17a589, 29px 29px #17a589, 30px 30px #17a68a, 31px 31px #17a68a, 32px 32px #17a78b, 33px 33px #17a78b, 34px 34px #17a88c, 35px 35px #17a98c, 36px 36px #17a98c, 37px 37px #17aa8d, 38px 38px #17aa8d, 39px 39px #17ab8e, 40px 40px #17ab8e, 41px 41px #17ac8f, 42px 42px #18ac8f, 43px 43px #18ad90, 44px 44px #18ad90, 45px 45px #18ae90, 46px 46px #18ae91, 47px 47px #18af91, 48px 48px #18b092, 49px 49px #18b092, 50px 50px #18b193, 51px 51px #18b193, 52px 52px #18b294, 53px 53px #18b294, 54px 54px #18b394, 55px 55px #18b395, 56px 56px #19b495, 57px 57px #19b496, 58px 58px #19b596, 59px 59px #19b697, 60px 60px #19b697, 61px 61px #19b798, 62px 62px #19b798, 63px 63px #19b898, 64px 64px #19b899, 65px 65px #19b999, 66px 66px #19b99a, 67px 67px #19ba9a, 68px 68px #19ba9b, 69px 69px #19bb9b, 70px 70px #1abc9c;
    background-color: #1abc9c
}

.shape-4 {
    text-shadow: 1px 1px #2a7aaf, 2px 2px #2a7ab0, 3px 3px #2a7bb0, 4px 4px #2a7bb1, 5px 5px #2a7cb2, 6px 6px #2a7cb2, 7px 7px #2b7db3, 8px 8px #2b7db4, 9px 9px #2b7db4, 10px 10px #2b7eb5, 11px 11px #2b7eb5, 12px 12px #2b7fb6, 13px 13px #2b7fb7, 14px 14px #2c80b7, 15px 15px #2c80b8, 16px 16px #2c80b9, 17px 17px #2c81b9, 18px 18px #2c81ba, 19px 19px #2c82ba, 20px 20px #2c82bb, 21px 21px #2d83bc, 22px 22px #2d83bc, 23px 23px #2d83bd, 24px 24px #2d84be, 25px 25px #2d84be, 26px 26px #2d85bf, 27px 27px #2d85bf, 28px 28px #2e86c0, 29px 29px #2e86c1, 30px 30px #2e86c1, 31px 31px #2e87c2, 32px 32px #2e87c3, 33px 33px #2e88c3, 34px 34px #2e88c4, 35px 35px #2f89c5, 36px 36px #2f89c5, 37px 37px #2f89c6, 38px 38px #2f8ac6, 39px 39px #2f8ac7, 40px 40px #2f8bc8, 41px 41px #2f8bc8, 42px 42px #308cc9, 43px 43px #308cca, 44px 44px #308cca, 45px 45px #308dcb, 46px 46px #308dcb, 47px 47px #308ecc, 48px 48px #308ecd, 49px 49px #318fcd, 50px 50px #318fce, 51px 51px #318fcf, 52px 52px #3190cf, 53px 53px #3190d0, 54px 54px #3191d0, 55px 55px #3191d1, 56px 56px #3292d2, 57px 57px #3292d2, 58px 58px #3292d3, 59px 59px #3293d4, 60px 60px #3293d4, 61px 61px #3294d5, 62px 62px #3294d5, 63px 63px #3395d6, 64px 64px #3395d7, 65px 65px #3395d7, 66px 66px #3396d8, 67px 67px #3396d9, 68px 68px #3397d9, 69px 69px #3397da, 70px 70px #3498db;
    -moz-text-shadow: 1px 1px #2a7aaf, 2px 2px #2a7ab0, 3px 3px #2a7bb0, 4px 4px #2a7bb1, 5px 5px #2a7cb2, 6px 6px #2a7cb2, 7px 7px #2b7db3, 8px 8px #2b7db4, 9px 9px #2b7db4, 10px 10px #2b7eb5, 11px 11px #2b7eb5, 12px 12px #2b7fb6, 13px 13px #2b7fb7, 14px 14px #2c80b7, 15px 15px #2c80b8, 16px 16px #2c80b9, 17px 17px #2c81b9, 18px 18px #2c81ba, 19px 19px #2c82ba, 20px 20px #2c82bb, 21px 21px #2d83bc, 22px 22px #2d83bc, 23px 23px #2d83bd, 24px 24px #2d84be, 25px 25px #2d84be, 26px 26px #2d85bf, 27px 27px #2d85bf, 28px 28px #2e86c0, 29px 29px #2e86c1, 30px 30px #2e86c1, 31px 31px #2e87c2, 32px 32px #2e87c3, 33px 33px #2e88c3, 34px 34px #2e88c4, 35px 35px #2f89c5, 36px 36px #2f89c5, 37px 37px #2f89c6, 38px 38px #2f8ac6, 39px 39px #2f8ac7, 40px 40px #2f8bc8, 41px 41px #2f8bc8, 42px 42px #308cc9, 43px 43px #308cca, 44px 44px #308cca, 45px 45px #308dcb, 46px 46px #308dcb, 47px 47px #308ecc, 48px 48px #308ecd, 49px 49px #318fcd, 50px 50px #318fce, 51px 51px #318fcf, 52px 52px #3190cf, 53px 53px #3190d0, 54px 54px #3191d0, 55px 55px #3191d1, 56px 56px #3292d2, 57px 57px #3292d2, 58px 58px #3292d3, 59px 59px #3293d4, 60px 60px #3293d4, 61px 61px #3294d5, 62px 62px #3294d5, 63px 63px #3395d6, 64px 64px #3395d7, 65px 65px #3395d7, 66px 66px #3396d8, 67px 67px #3396d9, 68px 68px #3397d9, 69px 69px #3397da, 70px 70px #3498db;
    -webkit-text-shadow: 1px 1px #2a7aaf, 2px 2px #2a7ab0, 3px 3px #2a7bb0, 4px 4px #2a7bb1, 5px 5px #2a7cb2, 6px 6px #2a7cb2, 7px 7px #2b7db3, 8px 8px #2b7db4, 9px 9px #2b7db4, 10px 10px #2b7eb5, 11px 11px #2b7eb5, 12px 12px #2b7fb6, 13px 13px #2b7fb7, 14px 14px #2c80b7, 15px 15px #2c80b8, 16px 16px #2c80b9, 17px 17px #2c81b9, 18px 18px #2c81ba, 19px 19px #2c82ba, 20px 20px #2c82bb, 21px 21px #2d83bc, 22px 22px #2d83bc, 23px 23px #2d83bd, 24px 24px #2d84be, 25px 25px #2d84be, 26px 26px #2d85bf, 27px 27px #2d85bf, 28px 28px #2e86c0, 29px 29px #2e86c1, 30px 30px #2e86c1, 31px 31px #2e87c2, 32px 32px #2e87c3, 33px 33px #2e88c3, 34px 34px #2e88c4, 35px 35px #2f89c5, 36px 36px #2f89c5, 37px 37px #2f89c6, 38px 38px #2f8ac6, 39px 39px #2f8ac7, 40px 40px #2f8bc8, 41px 41px #2f8bc8, 42px 42px #308cc9, 43px 43px #308cca, 44px 44px #308cca, 45px 45px #308dcb, 46px 46px #308dcb, 47px 47px #308ecc, 48px 48px #308ecd, 49px 49px #318fcd, 50px 50px #318fce, 51px 51px #318fcf, 52px 52px #3190cf, 53px 53px #3190d0, 54px 54px #3191d0, 55px 55px #3191d1, 56px 56px #3292d2, 57px 57px #3292d2, 58px 58px #3292d3, 59px 59px #3293d4, 60px 60px #3293d4, 61px 61px #3294d5, 62px 62px #3294d5, 63px 63px #3395d6, 64px 64px #3395d7, 65px 65px #3395d7, 66px 66px #3396d8, 67px 67px #3396d9, 68px 68px #3397d9, 69px 69px #3397da, 70px 70px #3498db;
    background-color: #3498db
}

.shape-5 {
    text-shadow: 1px 1px #7c4792, 2px 2px #7c4793, 3px 3px #7d4793, 4px 4px #7d4894, 5px 5px #7e4894, 6px 6px #7e4895, 7px 7px #7f4895, 8px 8px #7f4996, 9px 9px #7f4996, 10px 10px #804997, 11px 11px #804997, 12px 12px #814a98, 13px 13px #814a98, 14px 14px #824a99, 15px 15px #824a99, 16px 16px #834b9a, 17px 17px #834b9a, 18px 18px #834b9b, 19px 19px #844b9b, 20px 20px #844c9c, 21px 21px #854c9c, 22px 22px #854c9d, 23px 23px #864c9d, 24px 24px #864d9e, 25px 25px #874d9e, 26px 26px #874d9f, 27px 27px #874d9f, 28px 28px #884ea0, 29px 29px #884ea0, 30px 30px #894ea1, 31px 31px #894ea1, 32px 32px #8a4fa2, 33px 33px #8a4fa2, 34px 34px #8b4fa3, 35px 35px #8b50a4, 36px 36px #8b50a4, 37px 37px #8c50a5, 38px 38px #8c50a5, 39px 39px #8d51a6, 40px 40px #8d51a6, 41px 41px #8e51a7, 42px 42px #8e51a7, 43px 43px #8f52a8, 44px 44px #8f52a8, 45px 45px #8f52a9, 46px 46px #9052a9, 47px 47px #9053aa, 48px 48px #9153aa, 49px 49px #9153ab, 50px 50px #9253ab, 51px 51px #9254ac, 52px 52px #9354ac, 53px 53px #9354ad, 54px 54px #9354ad, 55px 55px #9455ae, 56px 56px #9455ae, 57px 57px #9555af, 58px 58px #9555af, 59px 59px #9656b0, 60px 60px #9656b0, 61px 61px #9756b1, 62px 62px #9756b1, 63px 63px #9757b2, 64px 64px #9857b2, 65px 65px #9857b3, 66px 66px #9957b3, 67px 67px #9958b4, 68px 68px #9a58b4, 69px 69px #9a58b5, 70px 70px #9b59b6;
    -moz-text-shadow: 1px 1px #7c4792, 2px 2px #7c4793, 3px 3px #7d4793, 4px 4px #7d4894, 5px 5px #7e4894, 6px 6px #7e4895, 7px 7px #7f4895, 8px 8px #7f4996, 9px 9px #7f4996, 10px 10px #804997, 11px 11px #804997, 12px 12px #814a98, 13px 13px #814a98, 14px 14px #824a99, 15px 15px #824a99, 16px 16px #834b9a, 17px 17px #834b9a, 18px 18px #834b9b, 19px 19px #844b9b, 20px 20px #844c9c, 21px 21px #854c9c, 22px 22px #854c9d, 23px 23px #864c9d, 24px 24px #864d9e, 25px 25px #874d9e, 26px 26px #874d9f, 27px 27px #874d9f, 28px 28px #884ea0, 29px 29px #884ea0, 30px 30px #894ea1, 31px 31px #894ea1, 32px 32px #8a4fa2, 33px 33px #8a4fa2, 34px 34px #8b4fa3, 35px 35px #8b50a4, 36px 36px #8b50a4, 37px 37px #8c50a5, 38px 38px #8c50a5, 39px 39px #8d51a6, 40px 40px #8d51a6, 41px 41px #8e51a7, 42px 42px #8e51a7, 43px 43px #8f52a8, 44px 44px #8f52a8, 45px 45px #8f52a9, 46px 46px #9052a9, 47px 47px #9053aa, 48px 48px #9153aa, 49px 49px #9153ab, 50px 50px #9253ab, 51px 51px #9254ac, 52px 52px #9354ac, 53px 53px #9354ad, 54px 54px #9354ad, 55px 55px #9455ae, 56px 56px #9455ae, 57px 57px #9555af, 58px 58px #9555af, 59px 59px #9656b0, 60px 60px #9656b0, 61px 61px #9756b1, 62px 62px #9756b1, 63px 63px #9757b2, 64px 64px #9857b2, 65px 65px #9857b3, 66px 66px #9957b3, 67px 67px #9958b4, 68px 68px #9a58b4, 69px 69px #9a58b5, 70px 70px #9b59b6;
    -webkit-text-shadow: 1px 1px #7c4792, 2px 2px #7c4793, 3px 3px #7d4793, 4px 4px #7d4894, 5px 5px #7e4894, 6px 6px #7e4895, 7px 7px #7f4895, 8px 8px #7f4996, 9px 9px #7f4996, 10px 10px #804997, 11px 11px #804997, 12px 12px #814a98, 13px 13px #814a98, 14px 14px #824a99, 15px 15px #824a99, 16px 16px #834b9a, 17px 17px #834b9a, 18px 18px #834b9b, 19px 19px #844b9b, 20px 20px #844c9c, 21px 21px #854c9c, 22px 22px #854c9d, 23px 23px #864c9d, 24px 24px #864d9e, 25px 25px #874d9e, 26px 26px #874d9f, 27px 27px #874d9f, 28px 28px #884ea0, 29px 29px #884ea0, 30px 30px #894ea1, 31px 31px #894ea1, 32px 32px #8a4fa2, 33px 33px #8a4fa2, 34px 34px #8b4fa3, 35px 35px #8b50a4, 36px 36px #8b50a4, 37px 37px #8c50a5, 38px 38px #8c50a5, 39px 39px #8d51a6, 40px 40px #8d51a6, 41px 41px #8e51a7, 42px 42px #8e51a7, 43px 43px #8f52a8, 44px 44px #8f52a8, 45px 45px #8f52a9, 46px 46px #9052a9, 47px 47px #9053aa, 48px 48px #9153aa, 49px 49px #9153ab, 50px 50px #9253ab, 51px 51px #9254ac, 52px 52px #9354ac, 53px 53px #9354ad, 54px 54px #9354ad, 55px 55px #9455ae, 56px 56px #9455ae, 57px 57px #9555af, 58px 58px #9555af, 59px 59px #9656b0, 60px 60px #9656b0, 61px 61px #9756b1, 62px 62px #9756b1, 63px 63px #9757b2, 64px 64px #9857b2, 65px 65px #9857b3, 66px 66px #9957b3, 67px 67px #9958b4, 68px 68px #9a58b4, 69px 69px #9a58b5, 70px 70px #9b59b6;
    background-color: #9b59b6
}

.shape-6 {
    text-shadow: 1px 1px #b93d30, 2px 2px #ba3d30, 3px 3px #ba3d30, 4px 4px #bb3d30, 5px 5px #bc3e30, 6px 6px #bc3e31, 7px 7px #bd3e31, 8px 8px #be3e31, 9px 9px #be3e31, 10px 10px #bf3f31, 11px 11px #c03f31, 12px 12px #c03f32, 13px 13px #c13f32, 14px 14px #c24032, 15px 15px #c24032, 16px 16px #c34032, 17px 17px #c44032, 18px 18px #c44033, 19px 19px #c54133, 20px 20px #c64133, 21px 21px #c64133, 22px 22px #c74133, 23px 23px #c84133, 24px 24px #c84234, 25px 25px #c94234, 26px 26px #ca4234, 27px 27px #ca4234, 28px 28px #cb4334, 29px 29px #cc4334, 30px 30px #cc4335, 31px 31px #cd4335, 32px 32px #ce4335, 33px 33px #ce4435, 34px 34px #cf4435, 35px 35px #d04436, 36px 36px #d04436, 37px 37px #d14436, 38px 38px #d14536, 39px 39px #d24536, 40px 40px #d34536, 41px 41px #d34537, 42px 42px #d44637, 43px 43px #d54637, 44px 44px #d54637, 45px 45px #d64637, 46px 46px #d74637, 47px 47px #d74738, 48px 48px #d84738, 49px 49px #d94738, 50px 50px #d94738, 51px 51px #da4738, 52px 52px #db4838, 53px 53px #db4839, 54px 54px #dc4839, 55px 55px #dd4839, 56px 56px #dd4939, 57px 57px #de4939, 58px 58px #df4939, 59px 59px #df493a, 60px 60px #e0493a, 61px 61px #e14a3a, 62px 62px #e14a3a, 63px 63px #e24a3a, 64px 64px #e34a3a, 65px 65px #e34a3b, 66px 66px #e44b3b, 67px 67px #e54b3b, 68px 68px #e54b3b, 69px 69px #e64b3b, 70px 70px #e74c3c;
    -moz-text-shadow: 1px 1px #b93d30, 2px 2px #ba3d30, 3px 3px #ba3d30, 4px 4px #bb3d30, 5px 5px #bc3e30, 6px 6px #bc3e31, 7px 7px #bd3e31, 8px 8px #be3e31, 9px 9px #be3e31, 10px 10px #bf3f31, 11px 11px #c03f31, 12px 12px #c03f32, 13px 13px #c13f32, 14px 14px #c24032, 15px 15px #c24032, 16px 16px #c34032, 17px 17px #c44032, 18px 18px #c44033, 19px 19px #c54133, 20px 20px #c64133, 21px 21px #c64133, 22px 22px #c74133, 23px 23px #c84133, 24px 24px #c84234, 25px 25px #c94234, 26px 26px #ca4234, 27px 27px #ca4234, 28px 28px #cb4334, 29px 29px #cc4334, 30px 30px #cc4335, 31px 31px #cd4335, 32px 32px #ce4335, 33px 33px #ce4435, 34px 34px #cf4435, 35px 35px #d04436, 36px 36px #d04436, 37px 37px #d14436, 38px 38px #d14536, 39px 39px #d24536, 40px 40px #d34536, 41px 41px #d34537, 42px 42px #d44637, 43px 43px #d54637, 44px 44px #d54637, 45px 45px #d64637, 46px 46px #d74637, 47px 47px #d74738, 48px 48px #d84738, 49px 49px #d94738, 50px 50px #d94738, 51px 51px #da4738, 52px 52px #db4838, 53px 53px #db4839, 54px 54px #dc4839, 55px 55px #dd4839, 56px 56px #dd4939, 57px 57px #de4939, 58px 58px #df4939, 59px 59px #df493a, 60px 60px #e0493a, 61px 61px #e14a3a, 62px 62px #e14a3a, 63px 63px #e24a3a, 64px 64px #e34a3a, 65px 65px #e34a3b, 66px 66px #e44b3b, 67px 67px #e54b3b, 68px 68px #e54b3b, 69px 69px #e64b3b, 70px 70px #e74c3c;
    -webkit-text-shadow: 1px 1px #b93d30, 2px 2px #ba3d30, 3px 3px #ba3d30, 4px 4px #bb3d30, 5px 5px #bc3e30, 6px 6px #bc3e31, 7px 7px #bd3e31, 8px 8px #be3e31, 9px 9px #be3e31, 10px 10px #bf3f31, 11px 11px #c03f31, 12px 12px #c03f32, 13px 13px #c13f32, 14px 14px #c24032, 15px 15px #c24032, 16px 16px #c34032, 17px 17px #c44032, 18px 18px #c44033, 19px 19px #c54133, 20px 20px #c64133, 21px 21px #c64133, 22px 22px #c74133, 23px 23px #c84133, 24px 24px #c84234, 25px 25px #c94234, 26px 26px #ca4234, 27px 27px #ca4234, 28px 28px #cb4334, 29px 29px #cc4334, 30px 30px #cc4335, 31px 31px #cd4335, 32px 32px #ce4335, 33px 33px #ce4435, 34px 34px #cf4435, 35px 35px #d04436, 36px 36px #d04436, 37px 37px #d14436, 38px 38px #d14536, 39px 39px #d24536, 40px 40px #d34536, 41px 41px #d34537, 42px 42px #d44637, 43px 43px #d54637, 44px 44px #d54637, 45px 45px #d64637, 46px 46px #d74637, 47px 47px #d74738, 48px 48px #d84738, 49px 49px #d94738, 50px 50px #d94738, 51px 51px #da4738, 52px 52px #db4838, 53px 53px #db4839, 54px 54px #dc4839, 55px 55px #dd4839, 56px 56px #dd4939, 57px 57px #de4939, 58px 58px #df4939, 59px 59px #df493a, 60px 60px #e0493a, 61px 61px #e14a3a, 62px 62px #e14a3a, 63px 63px #e24a3a, 64px 64px #e34a3a, 65px 65px #e34a3b, 66px 66px #e44b3b, 67px 67px #e54b3b, 68px 68px #e54b3b, 69px 69px #e64b3b, 70px 70px #e74c3c;
    background-color: #e74c3c
}

.shape-7 {
    text-shadow: 1px 1px #778485, 2px 2px #778485, 3px 3px #788586, 4px 4px #788586, 5px 5px #798687, 6px 6px #798687, 7px 7px #7a8788, 8px 8px #7a8788, 9px 9px #7a8889, 10px 10px #7b8889, 11px 11px #7b898a, 12px 12px #7c898a, 13px 13px #7c8a8b, 14px 14px #7d8a8b, 15px 15px #7d8b8c, 16px 16px #7d8b8c, 17px 17px #7e8c8d, 18px 18px #7e8c8d, 19px 19px #7f8c8d, 20px 20px #7f8d8e, 21px 21px #808d8e, 22px 22px #808e8f, 23px 23px #808e8f, 24px 24px #818f90, 25px 25px #818f90, 26px 26px #829091, 27px 27px #829091, 28px 28px #839192, 29px 29px #839192, 30px 30px #839293, 31px 31px #849293, 32px 32px #849394, 33px 33px #859394, 34px 34px #859495, 35px 35px #869495, 36px 36px #869495, 37px 37px #869596, 38px 38px #879596, 39px 39px #879697, 40px 40px #889697, 41px 41px #889798, 42px 42px #899798, 43px 43px #899899, 44px 44px #899899, 45px 45px #8a999a, 46px 46px #8a999a, 47px 47px #8b9a9b, 48px 48px #8b9a9b, 49px 49px #8c9b9c, 50px 50px #8c9b9c, 51px 51px #8c9c9d, 52px 52px #8d9c9d, 53px 53px #8d9c9d, 54px 54px #8e9d9e, 55px 55px #8e9d9e, 56px 56px #8f9e9f, 57px 57px #8f9e9f, 58px 58px #8f9fa0, 59px 59px #909fa0, 60px 60px #90a0a1, 61px 61px #91a0a1, 62px 62px #91a1a2, 63px 63px #92a1a2, 64px 64px #92a2a3, 65px 65px #92a2a3, 66px 66px #93a3a4, 67px 67px #93a3a4, 68px 68px #94a4a5, 69px 69px #94a4a5, 70px 70px #95a5a6;
    -moz-text-shadow: 1px 1px #778485, 2px 2px #778485, 3px 3px #788586, 4px 4px #788586, 5px 5px #798687, 6px 6px #798687, 7px 7px #7a8788, 8px 8px #7a8788, 9px 9px #7a8889, 10px 10px #7b8889, 11px 11px #7b898a, 12px 12px #7c898a, 13px 13px #7c8a8b, 14px 14px #7d8a8b, 15px 15px #7d8b8c, 16px 16px #7d8b8c, 17px 17px #7e8c8d, 18px 18px #7e8c8d, 19px 19px #7f8c8d, 20px 20px #7f8d8e, 21px 21px #808d8e, 22px 22px #808e8f, 23px 23px #808e8f, 24px 24px #818f90, 25px 25px #818f90, 26px 26px #829091, 27px 27px #829091, 28px 28px #839192, 29px 29px #839192, 30px 30px #839293, 31px 31px #849293, 32px 32px #849394, 33px 33px #859394, 34px 34px #859495, 35px 35px #869495, 36px 36px #869495, 37px 37px #869596, 38px 38px #879596, 39px 39px #879697, 40px 40px #889697, 41px 41px #889798, 42px 42px #899798, 43px 43px #899899, 44px 44px #899899, 45px 45px #8a999a, 46px 46px #8a999a, 47px 47px #8b9a9b, 48px 48px #8b9a9b, 49px 49px #8c9b9c, 50px 50px #8c9b9c, 51px 51px #8c9c9d, 52px 52px #8d9c9d, 53px 53px #8d9c9d, 54px 54px #8e9d9e, 55px 55px #8e9d9e, 56px 56px #8f9e9f, 57px 57px #8f9e9f, 58px 58px #8f9fa0, 59px 59px #909fa0, 60px 60px #90a0a1, 61px 61px #91a0a1, 62px 62px #91a1a2, 63px 63px #92a1a2, 64px 64px #92a2a3, 65px 65px #92a2a3, 66px 66px #93a3a4, 67px 67px #93a3a4, 68px 68px #94a4a5, 69px 69px #94a4a5, 70px 70px #95a5a6;
    -webkit-text-shadow: 1px 1px #778485, 2px 2px #778485, 3px 3px #788586, 4px 4px #788586, 5px 5px #798687, 6px 6px #798687, 7px 7px #7a8788, 8px 8px #7a8788, 9px 9px #7a8889, 10px 10px #7b8889, 11px 11px #7b898a, 12px 12px #7c898a, 13px 13px #7c8a8b, 14px 14px #7d8a8b, 15px 15px #7d8b8c, 16px 16px #7d8b8c, 17px 17px #7e8c8d, 18px 18px #7e8c8d, 19px 19px #7f8c8d, 20px 20px #7f8d8e, 21px 21px #808d8e, 22px 22px #808e8f, 23px 23px #808e8f, 24px 24px #818f90, 25px 25px #818f90, 26px 26px #829091, 27px 27px #829091, 28px 28px #839192, 29px 29px #839192, 30px 30px #839293, 31px 31px #849293, 32px 32px #849394, 33px 33px #859394, 34px 34px #859495, 35px 35px #869495, 36px 36px #869495, 37px 37px #869596, 38px 38px #879596, 39px 39px #879697, 40px 40px #889697, 41px 41px #889798, 42px 42px #899798, 43px 43px #899899, 44px 44px #899899, 45px 45px #8a999a, 46px 46px #8a999a, 47px 47px #8b9a9b, 48px 48px #8b9a9b, 49px 49px #8c9b9c, 50px 50px #8c9b9c, 51px 51px #8c9c9d, 52px 52px #8d9c9d, 53px 53px #8d9c9d, 54px 54px #8e9d9e, 55px 55px #8e9d9e, 56px 56px #8f9e9f, 57px 57px #8f9e9f, 58px 58px #8f9fa0, 59px 59px #909fa0, 60px 60px #90a0a1, 61px 61px #91a0a1, 62px 62px #91a1a2, 63px 63px #92a1a2, 64px 64px #92a2a3, 65px 65px #92a2a3, 66px 66px #93a3a4, 67px 67px #93a3a4, 68px 68px #94a4a5, 69px 69px #94a4a5, 70px 70px #95a5a6;
    background-color: #95a5a6
}

.shape-8 {
    text-shadow: 1px 1px #c69121, 2px 2px #c79221, 3px 3px #c89221, 4px 4px #c89321, 5px 5px #c99321, 6px 6px #ca9421, 7px 7px #ca9421, 8px 8px #cb9521, 9px 9px #cc9522, 10px 10px #cd9622, 11px 11px #cd9622, 12px 12px #ce9722, 13px 13px #cf9722, 14px 14px #cf9822, 15px 15px #d09822, 16px 16px #d19922, 17px 17px #d19922, 18px 18px #d29a23, 19px 19px #d39a23, 20px 20px #d49b23, 21px 21px #d49b23, 22px 22px #d59c23, 23px 23px #d69c23, 24px 24px #d69d23, 25px 25px #d79d23, 26px 26px #d89e23, 27px 27px #d89e24, 28px 28px #d99f24, 29px 29px #da9f24, 30px 30px #dba024, 31px 31px #dba024, 32px 32px #dca124, 33px 33px #dda124, 34px 34px #dda224, 35px 35px #dea325, 36px 36px #dfa325, 37px 37px #dfa425, 38px 38px #e0a425, 39px 39px #e1a525, 40px 40px #e2a525, 41px 41px #e2a625, 42px 42px #e3a625, 43px 43px #e4a725, 44px 44px #e4a726, 45px 45px #e5a826, 46px 46px #e6a826, 47px 47px #e6a926, 48px 48px #e7a926, 49px 49px #e8aa26, 50px 50px #e9aa26, 51px 51px #e9ab26, 52px 52px #eaab26, 53px 53px #ebac27, 54px 54px #ebac27, 55px 55px #ecad27, 56px 56px #edad27, 57px 57px #edae27, 58px 58px #eeae27, 59px 59px #efaf27, 60px 60px #f0af27, 61px 61px #f0b027, 62px 62px #f1b028, 63px 63px #f2b128, 64px 64px #f2b128, 65px 65px #f3b228, 66px 66px #f4b228, 67px 67px #f4b328, 68px 68px #f5b328, 69px 69px #f6b428, 70px 70px #f7b529;
    -moz-text-shadow: 1px 1px #c69121, 2px 2px #c79221, 3px 3px #c89221, 4px 4px #c89321, 5px 5px #c99321, 6px 6px #ca9421, 7px 7px #ca9421, 8px 8px #cb9521, 9px 9px #cc9522, 10px 10px #cd9622, 11px 11px #cd9622, 12px 12px #ce9722, 13px 13px #cf9722, 14px 14px #cf9822, 15px 15px #d09822, 16px 16px #d19922, 17px 17px #d19922, 18px 18px #d29a23, 19px 19px #d39a23, 20px 20px #d49b23, 21px 21px #d49b23, 22px 22px #d59c23, 23px 23px #d69c23, 24px 24px #d69d23, 25px 25px #d79d23, 26px 26px #d89e23, 27px 27px #d89e24, 28px 28px #d99f24, 29px 29px #da9f24, 30px 30px #dba024, 31px 31px #dba024, 32px 32px #dca124, 33px 33px #dda124, 34px 34px #dda224, 35px 35px #dea325, 36px 36px #dfa325, 37px 37px #dfa425, 38px 38px #e0a425, 39px 39px #e1a525, 40px 40px #e2a525, 41px 41px #e2a625, 42px 42px #e3a625, 43px 43px #e4a725, 44px 44px #e4a726, 45px 45px #e5a826, 46px 46px #e6a826, 47px 47px #e6a926, 48px 48px #e7a926, 49px 49px #e8aa26, 50px 50px #e9aa26, 51px 51px #e9ab26, 52px 52px #eaab26, 53px 53px #ebac27, 54px 54px #ebac27, 55px 55px #ecad27, 56px 56px #edad27, 57px 57px #edae27, 58px 58px #eeae27, 59px 59px #efaf27, 60px 60px #f0af27, 61px 61px #f0b027, 62px 62px #f1b028, 63px 63px #f2b128, 64px 64px #f2b128, 65px 65px #f3b228, 66px 66px #f4b228, 67px 67px #f4b328, 68px 68px #f5b328, 69px 69px #f6b428, 70px 70px #f7b529;
    -webkit-text-shadow: 1px 1px #c69121, 2px 2px #c79221, 3px 3px #c89221, 4px 4px #c89321, 5px 5px #c99321, 6px 6px #ca9421, 7px 7px #ca9421, 8px 8px #cb9521, 9px 9px #cc9522, 10px 10px #cd9622, 11px 11px #cd9622, 12px 12px #ce9722, 13px 13px #cf9722, 14px 14px #cf9822, 15px 15px #d09822, 16px 16px #d19922, 17px 17px #d19922, 18px 18px #d29a23, 19px 19px #d39a23, 20px 20px #d49b23, 21px 21px #d49b23, 22px 22px #d59c23, 23px 23px #d69c23, 24px 24px #d69d23, 25px 25px #d79d23, 26px 26px #d89e23, 27px 27px #d89e24, 28px 28px #d99f24, 29px 29px #da9f24, 30px 30px #dba024, 31px 31px #dba024, 32px 32px #dca124, 33px 33px #dda124, 34px 34px #dda224, 35px 35px #dea325, 36px 36px #dfa325, 37px 37px #dfa425, 38px 38px #e0a425, 39px 39px #e1a525, 40px 40px #e2a525, 41px 41px #e2a625, 42px 42px #e3a625, 43px 43px #e4a725, 44px 44px #e4a726, 45px 45px #e5a826, 46px 46px #e6a826, 47px 47px #e6a926, 48px 48px #e7a926, 49px 49px #e8aa26, 50px 50px #e9aa26, 51px 51px #e9ab26, 52px 52px #eaab26, 53px 53px #ebac27, 54px 54px #ebac27, 55px 55px #ecad27, 56px 56px #edad27, 57px 57px #edae27, 58px 58px #eeae27, 59px 59px #efaf27, 60px 60px #f0af27, 61px 61px #f0b027, 62px 62px #f1b028, 63px 63px #f2b128, 64px 64px #f2b128, 65px 65px #f3b228, 66px 66px #f4b228, 67px 67px #f4b328, 68px 68px #f5b328, 69px 69px #f6b428, 70px 70px #f7b529;
    background-color: #f7b529
}

.shape-9 {
    text-shadow: 1px 1px #c15c5a, 2px 2px #c25c5a, 3px 3px #c35c5a, 4px 4px #c35d5b, 5px 5px #c45d5b, 6px 6px #c55d5b, 7px 7px #c55e5c, 8px 8px #c65e5c, 9px 9px #c75e5c, 10px 10px #c75f5d, 11px 11px #c85f5d, 12px 12px #c95f5d, 13px 13px #c9605e, 14px 14px #ca605e, 15px 15px #cb605e, 16px 16px #cb615f, 17px 17px #cc615f, 18px 18px #cd615f, 19px 19px #ce625f, 20px 20px #ce6260, 21px 21px #cf6260, 22px 22px #d06360, 23px 23px #d06361, 24px 24px #d16361, 25px 25px #d26461, 26px 26px #d26462, 27px 27px #d36462, 28px 28px #d46562, 29px 29px #d46563, 30px 30px #d56563, 31px 31px #d66663, 32px 32px #d66664, 33px 33px #d76664, 34px 34px #d86764, 35px 35px #d96765, 36px 36px #d96765, 37px 37px #da6865, 38px 38px #db6865, 39px 39px #db6866, 40px 40px #dc6966, 41px 41px #dd6966, 42px 42px #dd6967, 43px 43px #de6a67, 44px 44px #df6a67, 45px 45px #df6a68, 46px 46px #e06b68, 47px 47px #e16b68, 48px 48px #e16b69, 49px 49px #e26c69, 50px 50px #e36c69, 51px 51px #e36c6a, 52px 52px #e46d6a, 53px 53px #e56d6a, 54px 54px #e66d6a, 55px 55px #e66e6b, 56px 56px #e76e6b, 57px 57px #e86e6b, 58px 58px #e86f6c, 59px 59px #e96f6c, 60px 60px #ea6f6c, 61px 61px #ea706d, 62px 62px #eb706d, 63px 63px #ec706d, 64px 64px #ec716e, 65px 65px #ed716e, 66px 66px #ee716e, 67px 67px #ee726f, 68px 68px #ef726f, 69px 69px #f0726f, 70px 70px #f17370;
    -moz-text-shadow: 1px 1px #c15c5a, 2px 2px #c25c5a, 3px 3px #c35c5a, 4px 4px #c35d5b, 5px 5px #c45d5b, 6px 6px #c55d5b, 7px 7px #c55e5c, 8px 8px #c65e5c, 9px 9px #c75e5c, 10px 10px #c75f5d, 11px 11px #c85f5d, 12px 12px #c95f5d, 13px 13px #c9605e, 14px 14px #ca605e, 15px 15px #cb605e, 16px 16px #cb615f, 17px 17px #cc615f, 18px 18px #cd615f, 19px 19px #ce625f, 20px 20px #ce6260, 21px 21px #cf6260, 22px 22px #d06360, 23px 23px #d06361, 24px 24px #d16361, 25px 25px #d26461, 26px 26px #d26462, 27px 27px #d36462, 28px 28px #d46562, 29px 29px #d46563, 30px 30px #d56563, 31px 31px #d66663, 32px 32px #d66664, 33px 33px #d76664, 34px 34px #d86764, 35px 35px #d96765, 36px 36px #d96765, 37px 37px #da6865, 38px 38px #db6865, 39px 39px #db6866, 40px 40px #dc6966, 41px 41px #dd6966, 42px 42px #dd6967, 43px 43px #de6a67, 44px 44px #df6a67, 45px 45px #df6a68, 46px 46px #e06b68, 47px 47px #e16b68, 48px 48px #e16b69, 49px 49px #e26c69, 50px 50px #e36c69, 51px 51px #e36c6a, 52px 52px #e46d6a, 53px 53px #e56d6a, 54px 54px #e66d6a, 55px 55px #e66e6b, 56px 56px #e76e6b, 57px 57px #e86e6b, 58px 58px #e86f6c, 59px 59px #e96f6c, 60px 60px #ea6f6c, 61px 61px #ea706d, 62px 62px #eb706d, 63px 63px #ec706d, 64px 64px #ec716e, 65px 65px #ed716e, 66px 66px #ee716e, 67px 67px #ee726f, 68px 68px #ef726f, 69px 69px #f0726f, 70px 70px #f17370;
    -webkit-text-shadow: 1px 1px #c15c5a, 2px 2px #c25c5a, 3px 3px #c35c5a, 4px 4px #c35d5b, 5px 5px #c45d5b, 6px 6px #c55d5b, 7px 7px #c55e5c, 8px 8px #c65e5c, 9px 9px #c75e5c, 10px 10px #c75f5d, 11px 11px #c85f5d, 12px 12px #c95f5d, 13px 13px #c9605e, 14px 14px #ca605e, 15px 15px #cb605e, 16px 16px #cb615f, 17px 17px #cc615f, 18px 18px #cd615f, 19px 19px #ce625f, 20px 20px #ce6260, 21px 21px #cf6260, 22px 22px #d06360, 23px 23px #d06361, 24px 24px #d16361, 25px 25px #d26461, 26px 26px #d26462, 27px 27px #d36462, 28px 28px #d46562, 29px 29px #d46563, 30px 30px #d56563, 31px 31px #d66663, 32px 32px #d66664, 33px 33px #d76664, 34px 34px #d86764, 35px 35px #d96765, 36px 36px #d96765, 37px 37px #da6865, 38px 38px #db6865, 39px 39px #db6866, 40px 40px #dc6966, 41px 41px #dd6966, 42px 42px #dd6967, 43px 43px #de6a67, 44px 44px #df6a67, 45px 45px #df6a68, 46px 46px #e06b68, 47px 47px #e16b68, 48px 48px #e16b69, 49px 49px #e26c69, 50px 50px #e36c69, 51px 51px #e36c6a, 52px 52px #e46d6a, 53px 53px #e56d6a, 54px 54px #e66d6a, 55px 55px #e66e6b, 56px 56px #e76e6b, 57px 57px #e86e6b, 58px 58px #e86f6c, 59px 59px #e96f6c, 60px 60px #ea6f6c, 61px 61px #ea706d, 62px 62px #eb706d, 63px 63px #ec706d, 64px 64px #ec716e, 65px 65px #ed716e, 66px 66px #ee716e, 67px 67px #ee726f, 68px 68px #ef726f, 69px 69px #f0726f, 70px 70px #f17370;
    background-color: #f17370
}

.shape-10 {
    text-shadow: 1px 1px #b23932, 2px 2px #b33932, 3px 3px #b33932, 4px 4px #b43932, 5px 5px #b53a32, 6px 6px #b53a33, 7px 7px #b63a33, 8px 8px #b73a33, 9px 9px #b73a33, 10px 10px #b83b33, 11px 11px #b83b33, 12px 12px #b93b34, 13px 13px #ba3b34, 14px 14px #ba3b34, 15px 15px #bb3c34, 16px 16px #bc3c34, 17px 17px #bc3c34, 18px 18px #bd3c35, 19px 19px #bd3c35, 20px 20px #be3d35, 21px 21px #bf3d35, 22px 22px #bf3d35, 23px 23px #c03d35, 24px 24px #c13d36, 25px 25px #c13e36, 26px 26px #c23e36, 27px 27px #c23e36, 28px 28px #c33e36, 29px 29px #c43e36, 30px 30px #c43f37, 31px 31px #c53f37, 32px 32px #c63f37, 33px 33px #c63f37, 34px 34px #c73f37, 35px 35px #c84038, 36px 36px #c84038, 37px 37px #c94038, 38px 38px #c94038, 39px 39px #ca4038, 40px 40px #cb4138, 41px 41px #cb4139, 42px 42px #cc4139, 43px 43px #cd4139, 44px 44px #cd4139, 45px 45px #ce4239, 46px 46px #ce4239, 47px 47px #cf423a, 48px 48px #d0423a, 49px 49px #d0423a, 50px 50px #d1433a, 51px 51px #d2433a, 52px 52px #d2433a, 53px 53px #d3433b, 54px 54px #d3433b, 55px 55px #d4443b, 56px 56px #d5443b, 57px 57px #d5443b, 58px 58px #d6443b, 59px 59px #d7443c, 60px 60px #d7453c, 61px 61px #d8453c, 62px 62px #d8453c, 63px 63px #d9453c, 64px 64px #da453c, 65px 65px #da463d, 66px 66px #db463d, 67px 67px #dc463d, 68px 68px #dc463d, 69px 69px #dd463d, 70px 70px #de473e;
    -moz-text-shadow: 1px 1px #b23932, 2px 2px #b33932, 3px 3px #b33932, 4px 4px #b43932, 5px 5px #b53a32, 6px 6px #b53a33, 7px 7px #b63a33, 8px 8px #b73a33, 9px 9px #b73a33, 10px 10px #b83b33, 11px 11px #b83b33, 12px 12px #b93b34, 13px 13px #ba3b34, 14px 14px #ba3b34, 15px 15px #bb3c34, 16px 16px #bc3c34, 17px 17px #bc3c34, 18px 18px #bd3c35, 19px 19px #bd3c35, 20px 20px #be3d35, 21px 21px #bf3d35, 22px 22px #bf3d35, 23px 23px #c03d35, 24px 24px #c13d36, 25px 25px #c13e36, 26px 26px #c23e36, 27px 27px #c23e36, 28px 28px #c33e36, 29px 29px #c43e36, 30px 30px #c43f37, 31px 31px #c53f37, 32px 32px #c63f37, 33px 33px #c63f37, 34px 34px #c73f37, 35px 35px #c84038, 36px 36px #c84038, 37px 37px #c94038, 38px 38px #c94038, 39px 39px #ca4038, 40px 40px #cb4138, 41px 41px #cb4139, 42px 42px #cc4139, 43px 43px #cd4139, 44px 44px #cd4139, 45px 45px #ce4239, 46px 46px #ce4239, 47px 47px #cf423a, 48px 48px #d0423a, 49px 49px #d0423a, 50px 50px #d1433a, 51px 51px #d2433a, 52px 52px #d2433a, 53px 53px #d3433b, 54px 54px #d3433b, 55px 55px #d4443b, 56px 56px #d5443b, 57px 57px #d5443b, 58px 58px #d6443b, 59px 59px #d7443c, 60px 60px #d7453c, 61px 61px #d8453c, 62px 62px #d8453c, 63px 63px #d9453c, 64px 64px #da453c, 65px 65px #da463d, 66px 66px #db463d, 67px 67px #dc463d, 68px 68px #dc463d, 69px 69px #dd463d, 70px 70px #de473e;
    -webkit-text-shadow: 1px 1px #b23932, 2px 2px #b33932, 3px 3px #b33932, 4px 4px #b43932, 5px 5px #b53a32, 6px 6px #b53a33, 7px 7px #b63a33, 8px 8px #b73a33, 9px 9px #b73a33, 10px 10px #b83b33, 11px 11px #b83b33, 12px 12px #b93b34, 13px 13px #ba3b34, 14px 14px #ba3b34, 15px 15px #bb3c34, 16px 16px #bc3c34, 17px 17px #bc3c34, 18px 18px #bd3c35, 19px 19px #bd3c35, 20px 20px #be3d35, 21px 21px #bf3d35, 22px 22px #bf3d35, 23px 23px #c03d35, 24px 24px #c13d36, 25px 25px #c13e36, 26px 26px #c23e36, 27px 27px #c23e36, 28px 28px #c33e36, 29px 29px #c43e36, 30px 30px #c43f37, 31px 31px #c53f37, 32px 32px #c63f37, 33px 33px #c63f37, 34px 34px #c73f37, 35px 35px #c84038, 36px 36px #c84038, 37px 37px #c94038, 38px 38px #c94038, 39px 39px #ca4038, 40px 40px #cb4138, 41px 41px #cb4139, 42px 42px #cc4139, 43px 43px #cd4139, 44px 44px #cd4139, 45px 45px #ce4239, 46px 46px #ce4239, 47px 47px #cf423a, 48px 48px #d0423a, 49px 49px #d0423a, 50px 50px #d1433a, 51px 51px #d2433a, 52px 52px #d2433a, 53px 53px #d3433b, 54px 54px #d3433b, 55px 55px #d4443b, 56px 56px #d5443b, 57px 57px #d5443b, 58px 58px #d6443b, 59px 59px #d7443c, 60px 60px #d7453c, 61px 61px #d8453c, 62px 62px #d8453c, 63px 63px #d9453c, 64px 64px #da453c, 65px 65px #da463d, 66px 66px #db463d, 67px 67px #dc463d, 68px 68px #dc463d, 69px 69px #dd463d, 70px 70px #de473e;
    background-color: #de473e
}