.bg-picture{
    background-image:url("../img/bg_profile.jpg");
}

.row-horizon {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
    float: none;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.vertical-center {
    height:100%;
    width:100%;

    text-align: center;  
    font: 0/0 a;       
}

.vertical-center:before {   
    content: "";
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}

.title-ads{
    color: turquoise;
}

.m-b-10{
    margin-bottom: 20px;
}