#fb-like{
    height: 50px;
}
#footer{
    text-align: center;
}
#page_info{
    background: url("../../../front/images/4.jpg");
    background-size:cover ;
}
.connexion-logo{
    padding: 0;
}
.footer-border{
    text-align: center;
}

.my-hr {
    display: block;
    clear: both;
    height: 0;
    margin: 40px 0 80px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}
.my-hr:after {
    content: "\273D \273D \273D";
    height: 0;
    letter-spacing: 1em;
    color: #aaa;
}
